[Desktop Entry]
Type=Application
Name=Hand Tex
Comment= Handwritten LaTeX symbol classifier
GenericName=LaTeX handwriting detector
Icon=handtex
Exec=handtex
Terminal=false
Categories=Utility
